.header {
  overflow: hidden;
  background-color: #938986;
  opacity: 0.8;
 
}
.logo {
  float: left;
 margin: 20px;
  padding: 12px;
}
.header-center {
  float: center;
  text-align: center;
}
body {
    background-image: url("khairat.png"); /* Replace "image.jpg" with the path to your image */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust to "contain" if needed */
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}
h3{
  color: black;
  text-decoration: underline;
}

.topnav {
  overflow: hidden;
  background-color:  #bfb3a9;
  
}
.profile{
  float: left;
  margin: 10px;
 margin-left: 10px;
}
.bismillah{
  margin-right: 100px;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color:  #938986;
  color: black;
}

.topnav a.active {
  background-color:#bfb3a9 ;
  color:black;
}

.topnav-right {
  float: right;
  display: block;
    padding: 8px;
  
  
}


 .container .column {
	  height: 280px;
	  padding: 40px;
    float: right;
	  background-color: #5a5656;
	  text-align: center;
    opacity: 0.8;
	}
  .box {
    padding: 70px;
    margin: 30px;
    width:250px;
    float: left;
    background-color:#938986 ;
    opacity: 0.9;
  
  }
  
 
  
  .box a {
    color: rgb(145, 111, 78);
    
  }
.container .button1 {
border-radius: 10px;
background-color: #938986;
color: white;
float: center;
}
.button1{
border-radius: 14px;
margin-top: 10px;
margin-left: 70px;
}

.form-wrapper{
  max-width: 670px;
  margin: 0 auto;
  background-color:#C19A6B ;
  opacity: 0.9;
  border-radius: 40px;

}
.form-container{
  display: flex;
  align-items: stretch;
  color: black;
  text-align: center;
  margin: auto;
}
.form-left{
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.form-left::before{
content: "";
width: 100%;
height: 70%;
position: absolute;
top: 0;
left:0;
}
.login-form{
  padding-top: 10px;
  opacity: 0.8;
}
.user-input{
  margin: 30px;
  text-align: center;
  color: black;
  padding: 14px 20px;
}
user-input input{

  width: 100%;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
  border: 20px solid white;
}
.user-input input:focus{
  outline: none;
  border-color: black;
}
.user-input input::placeholder{
color: grey;
font-size: 12px;
}
.remember-me{
  margin-bottom: 20px;
  padding: 10px 0;
}

.btn{
  width: 50%;
  display: inline-block;
  color:black;
  cursor:pointer;
  font-weight: bold;
  background-color: bisque;
  padding: 0 20px;
  height: 30px;
  border:1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.btn:hover{
  opacity: 0.9;
}
.fp-link{
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.signup{
  margin-top: 20px;
  color: black;
}
.signup p{
  font-size: 14px;
}
.signup p a {
  font-weight: 700;
  color: #5a5656;

}

@media (max-width:678px){
  body{
    background: none;
    margin: 0;
  }
  .form-wrapper{
    max-width: 400px;
    padding-top: 10px;
  }
  .form-container{
    position: relative;
  }
  .form-left.container{
    display: none;
  }
  .form-left{
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    margin: auto;
    
  }
}
input[type=text]{
  width: 100%;
  padding: 12px 15px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  color: white;
  padding: 12px 15px;
  border-radius: 4px;

}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 200px;
  font-size: 12px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;

  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color:#C19A6B ;
  font-weight: 200;
}
