header {
    background-color: #d3b197;
    padding: 20px;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccb585;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(97, 46, 46);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 90px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

nav ul li a:hover {
    color: #666;
    background-color: #e6e6e6;
}


  .column {
	  flex: 30%;
	  height: 300px;
	  padding: 50px;
	  margin: 1px;
	  background-color: #cccccc;
	  text-align: center;
	}
	.container {
	   display: flex;
    margin : 100 px;}

  .container.box {
    display: flex;
    justify-content: left;
    align-items: left;
    height:100vh;
  }

  .box {
    padding: 60px;
    background-color: #bfb3a9;
    border: 1px solid #807868;
    border-radius: 1px;
  }
  
  .box p {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
  
  .box a {
    color: rgb(145, 111, 78);
    text-decoration: underline;
  }
