<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/stylesheets/contact.css">

</head>
<body>


<div class="d-flex justify-content-center"><img src="../public/bismillah.png" class="img-fluid " alt="..."></div>




  <div class="row align-items-center">

    <div class="col-12 col-md-6 col-lg-4 h-100">
      <img src="../public/CONTACT.png" alt="" class="flex-allign">
      </div>

    <div class="col-12 col-md-6 col-lg-4 h-100">
      <div class="card ">
        <div class="card-body">
            <div class="title">
                <h5 class="card-title">WHEN DEATH OCCURS</h5>
            </div>
            <p class="card-text">
                <p class="fw-bolder">Fazrul Aizad Bin Ayub</p>
                <p class="lead">011-92283989</p>
                <p class="fw-bolder">Mohd Shahriza Bin Mohd Sulaiman</p>
                <p class="lead">011-24356789</p>
                <p class="fw-bolder">Mohd Shahriza Bin Mohd Sulaiman</p>
                <p class="lead">011-24356789</p>
            </p>
            
        </div>
    </div>
</div>  


    <div class="col-12 col-md-6 col-lg-4 h-100">
      <div class="card">
        <div class="card-body">
            <div class="title">
                <h5 class="card-title">KHAIRAT WILL TAKE CARE OF THE REMAINS LIKE</h5>
            </div>
            <p class="card-text">
                    <ul class="list-unstyled ">
                        <ul>
                        <li>Managing Funeral Baths
                            <li>Digging Graves</li>
                            <li>Funeral Bath Troughs</li>
                           <li>Shrouds, Funeral Prayer Priests</li> 
                            <li>Funeral Vans</li>
                        </ul>    
                    </ul>
            </p>
        </div>
            <a href="#" class="text-secondary text-decoration-none text-center">asy_syujaah_mu@yahoo.com</a>
            <p class="text-black-50 text-center">019-5678876</p>
        </div>

    

    </div>
  </div>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>  

</body>
</html>