<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hello')}">
<body>

<div class="container">
    <p th:text="${result}">
</div>

<link rel="stylesheet" href="main.css">
    </head>
  
<body>
   
                <h1>LOGIN</h1>
                <div class="row">
                  <div class="column1">
                    <img src="../public/stylesheets/mosque.png" class="logo1" width="130" height="130">
                  </div>
                  <div class="column1" style="background-color:#bbb;">
                    <h2>Column 2</h2>
                    <p>Some text..</p>
                  </div>
                </div>
               
            <style>
              .column1 {
  float: left;
  width: 40%;
  margin-top: 100px;
  height: 250px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  float: right;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}
.logo1{
margin: 60px;
margin-left: 200px;
}
            </style>
        





</body>
</html>