<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Package</title>
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      th:href="@{stylesheets/create.css}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="scripts.js"></script>
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="height: 100vh; background-color: white">
    <a href="/account-s">
      <i
        class="bi bi-arrow-left-circle"
        style="padding-left: 20px; font-size: 30px; color: gray"
      ></i
    ></a>

    <div class="container">
      <div class="card">
        <form
          th:action="@{/createAccountStaff}"
          modelAttribute="acccountStaff"
          method="post"
        >
          <div class="form">
            <div class="left-side">
              <div class="left-heading">
                <h3>CREATE STAFF</h3>
              </div>
            </div>
            <div class="right-side">
              <div class="main active">
                <div class="text">
                  <h2>Staff Personal Information</h2>
                  <p>Enter personal information.</p>
                </div>
                <div class="input-text">
                  <div class="input-div">
                    <span>Name</span>
                    <input
                      name="name"
                      type="text"
                      class="register"
                      placeholder="name"
                    />
                  </div>
                  <div class="input-div">
                    <span>IC Number</span>
                    <input
                      name="ic"
                      type="text"
                      class="register"
                      placeholder="ic"
                    />
                  </div>
                </div>
                <div class="input-text">
                  <div class="input-div">
                    <span>Email</span>
                    <input
                      name="email"
                      type="text"
                      class="register"
                      placeholder="email"
                    />
                  </div>
                  <!-- <div class="input-div">
                    <span>Password</span>
                    <input
                      name="password"
                      type="password"
                      class="register"
                      th:value="password"
                    />
                  </div> -->
                </div>
                <div class="input-text">
                  <div class="input-div">
                    <span>Password</span>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      class="register"
                      placeholder="Minimum 8 digit password"
                      minlength="8"
                      required
                    />
                  </div>
                  <div class="input-div">
                    <span>Confirm Password</span>
                    <input
                      id="confirmPassword"
                      name="confirm_password"
                      type="password"
                      class="register"
                      placeholder="Must the same password"
                      minlength="8"
                      required
                    />
                  </div>
                </div>
                <!-- <div class="input-text">
                  <label for="inputState">Role</label>
                  <select id="inputState" class="form-control">
                    <option selected>Staff</option>
                    <option>Manager</option>
                  </select>
                </div> -->

                <div class="buttons">
                  <a href="/account-s">
                    <button type="button" class="cancel">Cancel</button>
                  </a>
                  <button type="submit" class="next_button">Create</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password !== confirmPassword) {
          alert("Passwords do not match!");
        } else {
          alert("Passwords match!");
          // Add your code for further processing or form submission here
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
