<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link th:href="@{stylesheets/main.css}" rel="stylesheet" type="text/css">
  <script src="scripts.js"></script>
  <script src="https://kit.fontawesome.com/5af8cda4e6.js" crossorigin="anonymous"></script>

</head>
<body style="height: 100vh; background-color: white;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

    <section id="pricing" class="pricing-content section-padding">
        <div class="container">					
            <div class="section-title text-center">
                <h2>Pricing Package</h2>
                <p>Join Us - Now! </p>
            </div>				
            <div class="row text-center">									
               
                <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="pricing_design">
                        <div class="single-pricing">
                            <div class="price-head">		
                                <h2>Classic</h2>
                                <h1 class="price">RM50.00</h1>
                                <span>/Yearly</span>
                            </div>
                            <ul>
                                <li> Shroud</li>
                                <li> Hearse</li>
                                <li>Funeral prayer</li>
                                <li> Digger's Wages</li>
                                <li> Tombstone</li>
                          
                            </ul>
                            <div class="pricing-price">
                                
                            </div>
                            <a href="#" class="price_btn">Join Now</a>
                        </div>
                    </div>
                </div><!--- END COL -->	
                <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="pricing_design">
                        <div class="single-pricing">
                            <div class="price-head">		
                                <h2>Premium</h2>
                                <h1 class="price">RM80.00</h1>
                                <span>/Yearly</span>
                            </div>
                            <ul>
                                <li> Shroud</li>
                                <li> Hearse</li>
                                <li>Funeral prayer</li>
                                <li> Digger's Wages</li>
                                <li> Tombstone</li>
                                <li>Tahlil & Yaasin</li>
                                <li> Grave Marker</li>
                                <li> Coffin Package</li>
                            </ul>
                            <div class="pricing-price">
                                
                            </div>
                            <a href="#" class="price_btn">Join Now</a>
                        </div>
                    </div>
                </div><!--- END COL -->			  
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
</body>
</html>