<!DOCTYPE html>
<html>
<head>
    <title>Khairat Kematian </title>
    <link href="../public/stylesheets/main.css" rel="stylesheet" type="text/css">

</head>


<body>
    
    <header>
        hi
    <header>
      <ul>
        <li><a href="default.asp">Sign In</a></li>
        <li><a href="news.asp">Home</a></li>
        <li><a href="contact.asp">About Us</a></li>
        <li><a href="about.asp">Contact</a></li>
        <li><a href="about.asp">Benefits</a></li>
        <li><a href="about.asp">Eligibility</a></li>
      </ul>
    </header>

    <div class="container">
        <div class="box">
          <p>Have you registered as a khairat member? 
            <div><a href="#">Register now!</a></p></div>
    </div>


    <div class="container">
        <div class="column">
          <h3> PACKAGE A </h3>
          <ul>
             <li>Kain Kafan</li>
             <li>Van Jenazah</li>
             <li>Solat Jenazah</li>
         </ul>
        </div>
        <div class="column">
          <h3> PACKAGE B </h3>
          <p><ul>
             <li>Kain Kafan</li>
             <li>Van Jenazah</li>
             <li>Solat Jenazah</li>
             <li>Diggers Wages</li>
             <li>Batu Nisan</li>
         </ul></p>
        </div>
        <div class="column">
          <h3> PACKAGE C</h3>
          <p><ul>
             <li>Kain Kafan</li>
             <li>Van Jenazah</li>
             <li>Solat Jenazah</li>
             <li>Diggers Wages</li>
             <li>Batu Nisan</li>
             <li>Bacaan tahlil</li>
             <li>Penanda Kubur</li>
             <li>Paket Keranda</li>
         </ul></p>
        </div>
     </div>
</body>
</html>