<!DOCTYPE html>
<html>
<head>
    <title>Khairat Kematian </title>
    <link rel="stylesheet" href="main.css">
</head>

<body>        
    <header>
        <nav>
            <a href="#">Sign In</a>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Benefits</a>
            <a href="#">Eligibility</a>            
        </nav>
    </header>

    <div class="container">
        <div class="box">
          <p>Have you registered as a khairat member? 
            <div><a href="#">Register now!</a></p></div>
    </div>


    <div class="container">
        <div class="column">
          <h3> PACKAGE A </h3>
          <p><ul>
             <li>Kain Kafan</li>
             <li>Van Jenazah</li>
             <li>Solat Jenazah</li>
         </ul></p>
        </div>
        <div class="column">
          <h3> PACKAGE B </h3>
          <p><ul>
             <li>Kain Kafan</li>
             <li>Van Jenazah</li>
             <li>Solat Jenazah</li>
             <li>Diggers Wages</li>
             <li>Batu Nisan</li>
         </ul></p>
        </div>
        <div class="column">
          <h3> PACKAGE C</h3>
          <p><ul>
             <li>Kain Kafan</li>
             <li>Van Jenazah</li>
             <li>Solat Jenazah</li>
             <li>Diggers Wages</li>
             <li>Batu Nisan</li>
             <li>Bacaan tahlil</li>
             <li>Penanda Kubur</li>
             <li>Paket Keranda</li>
         </ul></p>
        </div>
     </div>
</body>
</html>