<!DOCTYPE html>
<html>
<head>
  <title>Log in </title>
  <link href="../public/stylesheets/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="body-login">
  <div class="header-center">
    <img src="bismillah.png" class="bismillah" width="250" height="120">
    
  </div>
<div class="form-wrapper">
  <div class="form-container">
    <div class="form-left">
      <h2>Welcome Back !</h2>
     
<img src="mosque.png" width="150" height="150">
    </div>

    
<div class="login-form">
  <form action="#">
    
<div class="user-input">
  <div class="cntr">
  
    <label for="opt1" class="radio">
      <input type="radio" name="rdo" id="opt1" class="hidden"/>
      <span class="label"></span><b>Staff</b>
    </label>
    
    <label for="opt2" class="radio">
      <input type="radio" name="rdo" id="opt2" class="hidden"/>
      <span class="label"></span><b>Member</b>
    </label>
    
  </div>
  <img src="profile.png" width="30" height="30" id="profile">
  <input type="text" placeholder="Member ID"><br><br>
  <img src="lock.png" width="25" height="25" id="lock">
  <input type="password" placeholder="Password" ><br><br>
<div class="btn-signin">
  <button class="btn submin-btn"><a href="index.html">Sign In</a></button>
  

</div>
  </form>
<a href="#" class="fp-link">Forget Password ?</a>
<div class="signup">
<p>Don't have an account ?<a href="#">Sign Up</a></p>
</div>
</div>
</div>
  </div>

</div>

</div>
</body>

</html>