<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment History</title>
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link th:href="@{stylesheets/main.css}" rel="stylesheet" type="text/css" />
    <script src="scripts.js"></script>
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css}"
    />
  </head>
  <body style="height: 100vh; background-color: white">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->

      <div class="container-fluid">
        <button
          class="btn btn-primary"
          id="profile"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#staticBackdrop"
          aria-controls="staticBackdrop"
        >
          <img
            src="k-member.png"
            class="rounded-circle img-fluid"
            style="width: 40px; height: 40px"
          />
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="home-m">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="about-us-m"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="contact-m"
                >Contact</a
              >
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <div class="container-xl px-4 mt-4">
      <div class="row" style="margin-top: 60px">
        <div class="col-lg-4 mb-4">
          <!-- Billing card 3-->
          <div class="card h-100 border-start-lg border-start-success">
            <div class="card-body">
              <div class="small text-muted">Package</div>
              <div
                class="h3 d-flex align-items-center"
                th:text="${packages.name}"
              >
                Classic
              </div>
              <input id="packageid" th:value="${packages.packageid}" hidden />
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <!-- Billing card 1-->
          <div class="card h-100 border-start-lg border-start-primary">
            <div class="card-body">
              <div class="small text-muted">Current yearly bill</div>
              <div class="h3" th:text="'RM' + ${packages.price}">RM50.00</div>
              <a class="text-arrow-icon small" href="/make-payment-m">
                Make Payment
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-arrow-right"
                >
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Payment methods card-->

      <!-- Billing history card-->
      <div class="card mb-4" style="margin-top: 60px">
        <div class="card-header">Billing History</div>
        <div class="card-body p-0">
          <!-- Billing history table-->
          <div class="table-responsive table-billing-history">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="border-gray-200" scope="col">Payment No</th>
                  <th class="border-gray-200" scope="col">Payment Method</th>
                  <th class="border-gray-200" scope="col">Date</th>
                  <th class="border-gray-200" scope="col">Time</th>
                  <!-- <th class="border-gray-200" scope="col">Package</th> -->
                  <!-- <th class="border-gray-200" scope="col">Amount</th> -->
                  <th class="border-gray-200" scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="payment, iterStat  : ${payments}">
                  <td th:text="${iterStat.index + 1}"></td>
                  <td th:text="${payment.paymentmethod}">Online Banking</td>
                  <td th:text="${payment.date}">06/15/2022</td>
                  <td th:text="${payment.paymenttime}">08:00</td>
                  <!-- <td>Classic</td> -->
                  <!-- <td th:text="${payments.p}">RM50.00</td> -->
                  <td>
                    <div th:if="${payment.statuspayment == 'verified'}">
                      <span class="badge bg-success">Paid</span>
                    </div>
                    <div th:if="${payment.statuspayment == 'unverified'}">
                      <span class="badge bg-light text-dark">Pending</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div
      class="offcanvas offcanvas-start"
      data-bs-backdrop="static"
      tabindex="-1"
      id="staticBackdrop"
      aria-labelledby="staticBackdropLabel"
    >
      <div class="offcanvas-header" style="background-color: #93806c70">
        <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body" style="background-color: #93806c70">
        <div>
          <div class="offcanvas-body">
            <div
              class="profile d-flex flex-column justify-content-center align-items-center"
            >
              <img src="k-member.png" alt="girl" width="70" height="70" /><br />
              <h4 class="mb-2" th:text="${session.name}"></h4>
              <p class="text-muted mb-4">
                <span class="mx-2" th:text="${session.role}"></span>|
                <a class="email" th:text="${session.email}"></a>
              </p>
            </div>
            <hr class="my-4" />
            <nav class="nav flex-column">
              <a
                class="nav-link d-flex flex-column justify-content-center align-items-center"
                href="profile-m"
                ><i class="bi bi-person fa-lg"></i>Profile</a
              >

              <a
                class="nav-link d-flex flex-column justify-content-center align-items-center"
                href="/payment-history-m"
                ><i class="bi bi-credit-card"></i>Payment</a
              >
              <a
                class="nav-link d-flex flex-column justify-content-center align-items-center"
                href="/logout"
                ><i class="bi bi-box-arrow-left fa-lg"></i>Logout</a
              >
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      data-bs-backdrop="static"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Info</h5>
            <!-- <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body" style="padding: 40px 20px">
            You need to choose package first to make payment (
            <a href="home-m">Click here to choose package</a>
            )
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <script>
      var packageid = document.getElementById("packageid").value;
      console.log(packageid);

      if (packageid == 0) {
        var myModal = new bootstrap.Modal(
          document.getElementById("exampleModal"),
          {}
        );
      }

      myModal.show();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
